/* @import "another/module"; */
@import "another/module";
/* @import "another/underscore"; */
@import "another/underscore";
/* @import "another/_underscore"; */
@import "another/_underscore";
/* @import "~scss/underscore"; */
@import "~scss/underscore";
// Import a module with a dot in its name
// @see https://github.com/webpack-contrib/sass-loader/issues/167
/* @import "~scss/some.module"; */
@import "~scss/some.module";
/* @import url(http://example.com/something/from/the/interwebs); */
@import url(http://example.com/something/from/the/interwebs);
/* scoped import @import "language"; */
.scoped-import {
    @import "language";
}
// The local util file should take precedence over Node's util module
// See https://github.com/webpack-contrib/sass-loader/issues/556
/* @import "util"; */
@import "util";
/* @import "~module"; */
@import "~module";
/* @import "~another"; */
@import "~another";
/* @import "~@org/style"; */
// Should prefer `scss`
@import "~@org/style";
