/* @use "another/module"; */
@use "another/module";
/* @use "another/underscore"; */
@use "another/underscore" as underscore;
/* @use "another/_underscore"; */
@use "another/_underscore" as underscore2;
/* @use "~scss/underscore"; */
@use "~scss/underscore" as underscore3;
// Import a module with a dot in its name
// @see https://github.com/webpack-contrib/sass-loader/issues/167
/* @use "~scss/some.module"; */
@use "~scss/some.module";
// The local util file should take precedence over Node's util module
// See https://github.com/webpack-contrib/sass-loader/issues/556
/* @use "util"; */
@use "util";
/* @use "~module"; */
@use "~module" as module2;
/* @use "~another"; */
@use "~another" as another;
/* @use "~@org/style"; */
// Should prefer `scss`
@use "~@org/style";
