{
    "reporter": [
        "lcov",
        "text"
    ],
    "include": [
        "lib/**/*.js"
    ],
    "lines": 92,
    "statements": 91,
    "functions": 100,
    "branches": 86,
    "check-coverage": true
}
