/* @import another/module */
@import url(http://example.com/something/from/the/interwebs);
.another-sass-module {
  background: hotpink; }

/* @import another/underscore */
.underscore {
  background: hotpink; }

/* @import ~test-module/some-module */
.some-scss-module {
  background: hotpink; }

/* @import ~test-module/underscore */
.underscore-scss {
  background: hotpink; }
